<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <style>
	body {
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #333;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 2em;
		margin: 0.67em 0;
	}

	h2 {
		font-size: 1.5em;
		margin: 0.83em 0;
	}

	h3 {
		font-size: 1.17em;
		margin: 1em 0;
	}

	p {
		margin: 1em 0;
	}
	
    #postTable_wrapper, #postTable th, #postTable td {
      border: none !important;
    }
  </style>
</head>
<body class="bg-slate-100 text-gray-600">
	<header class="bg-white py-2 px-4 lg:px-6 flex items-center justify-between shadow">
		<a href="/" class="font-bold text-2xl text-gray-800">Dashboard</a>
		<nav class="flex items-center">
			<a href="/add" class="text-gray-100 font-semibold px-4 py-2 bg-blue-500 rounded-lg">Add Article</a>
		</nav>
	</header>
